.parent{
    border: 10px solid green;
    height: 700px;
  display: flex;
    align-items: center;
    

} 
.child{
    height: 100px;
    width: 100px;
    
}
#one{
    background-color: aqua;
    /* flex-basis: 400px; */
    flex-grow: 1;
    flex-shrink: 2;
}
#two{
    background-color: rgb(38, 0, 255);
     flex-shrink: 4;
     flex-grow: 3;
}
#three{
    background-color: rgb(255, 0, 212);
    flex-grow: 2;
}
#four{
    background-color: rgb(255, 0, 119);
}