/* name selector */
h1{
    background-color: rgb(172, 87, 7);
}
/* id selector */
#one{
    background-color: rgb(219, 219, 26);
}
/* class selector   */
.two{
    background-color: blue;
    text-align: center;
}
/* attribute selector */

a[href="https://google.com"]{
    background-color: brown;
 } 
 /* start latter  */
a[href^="ttp"]{
    background-color: rgb(42, 165, 58);
}
 /* ending latter */
a[href$="coms"]{
    background-color: rgb(202, 202, 218);
}
/* any where string match */
a[href*="whatsapp"]{
    background-color: rgb(87, 102, 105);
}
 /* page  */
 *{
    background-color: aqua;
 }
  /* desendent comminative */
  div p{
    background-color: blue;
  }
   span p{
    background-color: rgb(192, 226, 43);
    
   }
   ol > li{
    background-color: rgb(221, 231, 231);
   border: 5PX solid ;
   }
   div{
    background-color: chartreuse;
    height:150px;
    width: 150px;
    transition: 3s;
   }
   div:hover{
    background-color: rgb(129, 48, 18);
    border-radius: 3cm;
    }
   h3 {
    background-color: #4203038a;
    height: 150px;
    width: 150px;
    transition: 3s;
   }
   h3:hover{
    background-color: blue;
     border-radius:  50%;
   }
  ul >  li:first-child{
    background-color: blue;
   } 
  ul >  li:nth-of-type(4){
    background-color: rgb(110, 89, 145);
   } 
   ul >  li:nth-of-type(2){
    background-color: rgb(72, 139, 17);
   } 
   ul >  li:nth-of-type(3){
    background-color: rgb(18, 168, 81);
   } 